div.tiles {
    display: inline;
    width: 390px;
    height: 200px;
    background-color: rgb(251, 249, 249); 
    border-radius: 0.75rem;
    text-align: center;
    border: 0.02rem solid lightgray;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.025);
    padding: 0.1rem;
}

#tile-container {
    /* background-color: aqua; */
    height: 70%;
    margin: 40px 40px;
    padding: 20px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}

.text-admt {
    display: inline-block !important;
    width: 18rem !important;
    border: 0.05rem solid rgb(178, 168, 168) !important;
}

h3.descr {
    margin: 0.5rem 1rem;
    text-align: start;
    font-family: 'EB Garamond',serif;
    color: rgb(127, 135, 142);
    font-size: 20px;
}

label.output{
    border: 0.018rem solid rgb(178, 168, 168);
    border-radius: 0.5rem;
    width: 18rem;
    height: 2.3rem;
}