h1 {
    font-size: 34px;
    color: #36161d;
    font-family: 'Indie Flower', cursive;
    font-style: normal;
}

.centre-links{
    display: inline;
    float: left;
    position: absolute;
    left: 37%;
    right: 25%;
}

.numberBtn{
    margin: 0.4rem 0.2rem;
    padding: 0.6rem;
    font-size: 1rem;
    border: 0.05rem solid black;
    border-radius: 0.7rem;
    cursor: pointer;
    display: inline-block;
    width: 5.5rem;
    background-color: whitesmoke;
}

.close-page{
    margin: 0.4rem 0.2rem;
    padding: 0.6rem;
    font-size: 1rem;
    border: 0.05rem solid black;
    border-radius: 0.7rem;
    cursor:grab;
    display: inline-block;
    width: 5.5rem;
    background-color: whitesmoke;
}

#text-display {
    padding: 0.6rem;
    font-size: 20px;
    width: 24rem;
    border-radius: 0.5rem;
    border-color: lightgray;
    height: 2.3rem;
    text-align: right;
    margin: 0.3rem;
}

#container{
    border: 1px solid black;
    text-align: center;
    width: fit-content;
    margin-left: 35%;
    margin-top: 10%;
    clear: both;
}

.nav-links{
    color: rgb(127, 135, 142);
    font-size: 15px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.5rem;
}

.nav-links:hover{
    color: black;
}

#nav{
    background-color: rgb(247,247,247); 
    padding: 0.5rem;
    padding-bottom: 0.4rem;
    overflow: hidden;
}

.footer-links{
    color: rgb(127, 135, 142);
    font-size: 13px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.5rem;
}

.footer-links:hover {
    color: black;
    text-decoration: underline;
}

.dropbtn {
    border: none;
    outline: none;
    font-size: 15px;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }

  #printBtn {
    border: none;
    outline: none;
    font-size: 15px;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    float: right;
  }

  #main-icon {
    float: left;
    color: rgb(149, 149, 149); 
    text-decoration: none; 
    font-size: 30px;
  }

  #main-icon:hover {
    color: rgb(120, 113, 113);
  }

  #container .history {
    max-height: 5rem;
  }
  